@import url('http://fonts.googleapis.com/css?family=Ubuntu');
.body{
	padding-top: 2%;
    font-family: Ubuntu;
    font-size: 20px;
}
   .p {
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 1px; /* Отступ снизу */
   }
   .teginfo{
   	  text-indent: 2%;
   }